<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="container-mt-3 xavi" *ngIf="proy">
    <div class="row xavi vito">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="OnUpdate()" novalidate #f="ngForm">
                <br>
                <div class="form-group vito">
                    <label for="nombreProy" id="titulo"><p>Nombre del proyecto</p></label>
                    <input type="text" class="form-control" id="nombreProy" name="nombreProy" [(ngModel)]="proy.nombreProy" required>
                </div>
                <br>
                <div class="form-group vito">
                    <label for="detalleProy" id="titulo"><p>Detalles del proyecto</p></label>
                    <input type="text" class="form-control" id="detalleProy" name="detalleProy" [(ngModel)]="proy.detalleProy" required>
                </div>
                <br>
                <div class="form-group vito">
                    <label for="enlaceProy" id="titulo"><p>Enlace al proyecto</p></label>
                    <input type="text" class="form-control" id="enlaceProy" name="enlaceProy" [(ngModel)]="proy.enlaceProy" required>
                </div>
                <br>
                <div class="form-group vito">
                    <label for="imagen" id="titulo"><p>Imagen del proyecto</p></label>
                    <input type="text" class="form-control" id="imagen" name="imagen" [(ngModel)]="proy.imagen" required>
                </div>
                <br>
                <br>
                <button class="btn btn-light " [disabled]="!f.valid">Actualizar</button>
            </form>
        </div>
    </div>
</div>