<div class="container xavi">
    <div class="row vito">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
              <div class="form-group">
                <label for="nombreP"><p>Nombre del Proyecto</p></label>
                <input type="text" class="form-control" id="nombreP" name="nombreP" [(ngModel)]="nombreP" required>
              </div>
              <br>
              <div class="form-group">
                <label for="descripcionP"><p>Descripcion del Proyecto</p></label>
                <input type="text" class="form-control" id="descripcionP" name="descripcionP" [(ngModel)]="descripcionP" required>
              </div>
              <br>
              <button class="btn btn-light">
                Agregar Proyecto
              </button>
            </form>

        </div>
    </div>
</div>