.row{
    padding: 20px;
}
p{
    display: inline;
}
div{
    background-color:white;
    margin-top: 10px;
    border-radius: 20px;
 }

.iconoboo{
    text-align: right;
    margin-top: -40px;
    background-color: transparent;
}
.contenedor{
    width:auto;
}
.img,.texto{
    display: inline-block;
    text-align:justify;
}
.img-proyecto{
    border-radius: 10%;
    margin-bottom: 40px;
}
.img1,.texto1{
    display: inline-block;
    text-align:justify;
}
.contenedor1{
    width:auto;
}
.img2,.texto2{
    display: inline-block;
    text-align:justify;
}
.contenedor2{
    width:auto;
}
.img3,.texto3{
    display: inline-block;
    text-align:justify;
}
.contenedor3{
    width:auto;
}
.img4,.texto4{
    display: inline-block;
    text-align:justify;
}
.contenedor4{
     width:auto;  
}
p,h1{
    font-size: 19px;
}
h2{
    font-size: 28px;
}