<div class="row">
    <h3>Experiencia Laboral</h3>
  <div class="col-lg-2 vito">
<button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
Nueva Experiencia
</button>
  </div>
  
   <div>
   <div class="col-xg-12 table-responsive-sm vito">
    <table class="table" style="border: hidden">
      <thead>
        <tr >
            <th scope="col">Detalle</th>
            <th scope="col">Descripción del Puesto</th>
        </tr>
    </thead>
      <tbody style="border: hidden">
        <tr *ngFor="let Experiencia of expe">
          <td style="border: hidden"><h6>{{Experiencia.nombreE}}</h6></td>
          <td style="border: hidden">{{Experiencia.descripcionE}}</td>
          <td style="border: hidden"*ngIf="isLogged">
          <button class="btn btn-light button" routerLink="/editexp/{{Experiencia.id}}"><i class="bi bi-pencil-square"></i></button>
          </td>
          <td *ngIf="isLogged " style="border: hidden">
            <button class="btn btn-light button" routerLink="/editexp/{{Experiencia.id}}"(click)="delete(Experiencia.id)"><i class="bi bi-trash-fill"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div> 
</div>
</div>