<div>
    <a href="https://www.facebook.com/profile.php?id=1394925882" target="_blank"><img src="../../../assets/facebook.png" alt=""></a>
    <a href="https://www.instagram.com/javier.digirolamo/" target="_blank"><img src="../../../assets/instagram.png" alt=""></a>
    <a href="https://twitter.com/jkandisky" target="_blank"><img src="../../../assets/twitter.png" alt=""></a>
    <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">LOGIN</button>
    <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
</div>