<div class="row">
  <h3>Acerca de Mi</h3>
<div class="col-lg-2">
<button type="button" class="btn btn-dark" routerLink="/nuevasob" *ngIf="isLogged">
Editar
</button>
</div>

 <div>
 <div class="col-xg-12 table-responsive-sm vito">
  <table class="table" style="border: hidden">
    <tbody style="border: hidden">
      <tr *ngFor="let Sobremi of sobr">
        <td style="border: hidden"><h6>{{Sobremi.nombreS}}</h6></td>
        <td style="border: hidden">{{Sobremi.descripcionS}}</td>
        <td style="border: hidden"*ngIf="isLogged">
        <button class="btn btn-light button" routerLink="/editsob/{{Sobremi.id}}"><i class="bi bi-pencil-square"></i></button>
        </td>
        <td style="border: hidden"*ngIf="isLogged">
          <button class="btn btn-light" (click)="delete(Sobremi.id)"><i class="bi bi-trash-fill"></i></button>
        </td>
        </tr>
    </tbody>
  </table>
</div> 
</div>
</div>