<div class="row">
    <h1>Hard & Soft Skills</h1>
    
    <div class= "text-center col-sm-4 col-md-4 col-lg-4 transparente">
        <circle-progress
        [percent]="85"
        [title]="'HTML'"
        [radius]="80"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'orange'"
        [innerStrokeColor]="'yellow'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>
<div class="text-center col-sm-4 col-md-4 col-lg-4 transparente">
    <circle-progress
    [percent]="85"
    [title]="'CSS'"
    [radius]="80"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'black'"
    [innerStrokeColor]="'orange'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4 transparente">
    <circle-progress
    [percent]="85"
    [title]="'JS'"
    [radius]="80"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'yellow'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
</div>

</div>