.gradient-custom {
    /* fallback for old browsers */
    background: #e24c06;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(232, 99, 4), rgb(252, 127, 37));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(230, 101, 3), rgb(237, 85, 9))
    }